body {
    background: white;
}

#home {
    text-align: center;
}

#home p {
    font-size: 50px;
    margin-bottom: 0;
    padding-bottom: 0;
}

#home button {
    margin-top: 20px;
    margin-right: 10px;
    width: 8%;
    height: 5%;
}

#home input {
    margin-bottom: 5px;
    width: 12%;
    height: 5%;

}